/* HEADER */

.header {                              
background-color: rgb(0,94,123);
text-align: center;
padding-top: 20px;
padding-bottom: 20px;
border-radius: 10px;
}

.header__title {                       
    color: white;
    font-family: sans-serif; 
    font-size: 50px;  
    font-weight: bold;    
color: white;
}

.header__info {             
color: white;
font-family: sans-serif; 
font-size: 20px;
}   

.header__link {
color: white;
text-decoration: none;
font-family: sans-serif; 
}


/* MAIN */


.profile {

}
section__title                           /* font size + font style + color + line */
profile__description                    /* font size + color + font style */


.experience {

}
experience__item                        /* font size + font style + color + line */
experience__job-title                   /* font size + font style + color */
experience__date                        /* font size + font style + color */
experience__tasks                      /* font size + font style + color */

.education {

}
education__degree                      /* font size + font style + color */

.skills {

}
skills__list                           /* font size + font style + color */


.interests {

} 
interests__description                   /* font size + font style + color */


/* FOOTER */

.footer {
    background-color: rgb(0,94,123);
    color: white;

}