/* HEADER */

.header {                              
background-color: rgb(0,94,123);
text-align: center;
padding-top: 20px;
padding-bottom: 20px;
border-radius: 10px;
}

.header__title {                       
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;  
    font-weight: bold;    
color: white;
}

.header__info {             
color: white;
font-family: Arial, Helvetica, sans-serif;
font-size: 20px;
}   

.header__link {
color: white;
text-decoration: none;
font-family: Arial, Helvetica, sans-serif;
}


/* MAIN */

.section__title {
    color: rgb(0,94,123);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 35px;
    border-bottom: 3px solid rgb(0,94,123);    
    }  

.profile {
align-items: baseline;
}
                      
.profile__description {
font-family: Arial, Helvetica, sans-serif;
font-size: large;
}


.experience {
align-items: baseline;
}

.experience__job-title {
color: gray;
font-family: Arial, Helvetica, sans-serif;
font-size: 25px;
}

.experience__date {
color: rgb(0,94,123);
font-size: 20px;
font-family: Arial, Helvetica, sans-serif;
}

.education__degree, .skills__list, .interests__description, .footer, .experience__tasks {
font-family: Arial, Helvetica, sans-serif;
font-size: 18px;
}


/* FOOTER */

.footer {
    background-color: rgb(0,94,123);
    color: white;
    text-align: center;
    font-size: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    

}